/* client/src/index.css */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  overflow: hidden; /* Stops scrollbars from appearing */
}

#root {
  width: 100%;
  height: 100%;
}